### Must be enabled with UID instance, e.g. "systemctl enable autodm@1000"

[Unit]
After=systemd-user-sessions.service

[Service]
Type=notify
NotifyAccess=all
PAMName=systemd-user

User=%i
Slice=user-%i.slice
KillMode=mixed
Delegate=yes

PermissionsStartOnly=true
ExecStartPre=-/bin/bash -c 'd="/run/user/$(id -ur %i)" && mkdir -p -m0700 "$d" && chown -R %i:%i "$d"'
ExecStart=-/bin/bash -c 'exec $(eval echo "~$(id -un %i)")/.xinitrc'
ExecStopPost=-/bin/sync

[Install]
WantedBy=graphical.target
