[Unit]
After=systemd-user-sessions.service
After=multi-user.target

[Service]
Type=notify
NotifyAccess=all
PAMName=systemd-shared
Slice=user-fraggod.slice

User=fraggod
Environment=DISPLAY=:1
ExecStart=-/bin/sh %h/.xinitrc

[Install]
WantedBy=graphical.target
