[Unit]
After=systemd-user-sessions.service

[Service]
Type=notify
NotifyAccess=all
PAMName=systemd-user

User=fraggod
Slice=user-fraggod.slice
KillMode=mixed
Delegate=yes

Environment=DISPLAY=:1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%u/bus
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_SESSION_CLASS=user

PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p -m700 /run/user/%u
ExecStartPre=-/bin/chown %u: /run/user/%u
ExecStart=-/bin/sh /home/%u/.xinitrc
ExecStopPost=-/bin/sync

[Install]
WantedBy=graphical.target
