[Unit]
After=systemd-user-sessions.service

[Service]
Environment=XDG_VTNR=2
Environment=XDG_SEAT=seat0
Environment=XDG_SESSION_CLASS=user
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_SESSION_DESKTOP=enlightenment

# "pam-run" is from https://github.com/mk-fg/fgtk/#pam-run
ExecStart=/usr/local/bin/pam-run -u %i -t :1 -- ~/.xinitrc

[Install]
WantedBy=graphical.target
