[Unit]
Before=aura-oneshot.service xsettings.service

[Service]
ExecStart=/usr/bin/enlightenment_start
ExecStopPost=-/usr/bin/pkill -INT -U 1000 -x systemd
