[Unit]
StopWhenUnneeded=true

[Service]
Type=dbus
BusName=org.PulseAudio1
ExecStart=/usr/bin/env pulseaudio --exit-idle-time=0

Restart=always
RestartPreventExitStatus=SIGTERM SIGINT SIGABRT SIGKILL
StartLimitInterval=10s
StartLimitBurst=5
