conky.config = {
	background = false,

	alignment = 'bottom_left',
	xinerama_head = 0,

	update_interval = 4.0,
	total_run_times = 0,

	own_window = true,
	own_window_type = 'desktop',
	own_window_colour = 'black',
	own_window_argb_visual = true,
	own_window_transparent = true,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',

	minimum_width = 400,
	maximum_width = 400,
	gap_x = 10,
	gap_y = 10,

	font = 'Liberation Sans:size=8',
	use_xft = true,
	xftalpha = 1,
	override_utf8_locale = true,

	double_buffer = true,
	draw_shades = true,
	draw_outline = false,
	draw_borders = false,
	draw_graph_borders = true,
	stippled_borders = 8,
	border_width = 1,

	default_color = 'white',
	default_shade_color = 'black',
	default_outline_color = 'black',

	no_buffers = true,
	uppercase = false,
	short_units = true,
	units_spacer = ' ',
	use_spacer = 'none',
	-- cpu_avg_samples = 2,
	-- net_avg_samples = 2,

	color0 = 'cc4444',
	color1 = 'darkgreen',
	color2 = '4444cc',

	template0 = '${color \\1}${top cpu \\2}${goto 40}${top mem \\2}${goto 80}${top pid \\2}${goto 130}${top name \\2}${goto 200}${top_mem cpu \\2}${goto 235}${top_mem mem \\2}${goto 275}${top_mem pid \\2}${alignr}${top_mem name \\2}$color',
	template1 = '${if_mounted \\2}${color lightgrey}\\1 ${lua_parse rings_marker fs_\\1}${goto 50}$color${if_match ${fs_free_perc \\2} <= \\3}${color red}${endif}${fs_free \\2} (${fs_free_perc \\2}%)${if_match ${fs_free_perc \\2} <= \\3}${blink !!!!!}${endif}${goto 120}${fs_bar \\2}$color${endif}',
	template2 = '$color ${tcp_portmon \\1 \\2 rhost \\3} ${alignr} ${tcp_portmon \\1 \\2 \\4 \\3} $color',
	template3 = '${color lightgrey}${if_empty ${lua sens_read \\2}}${else}${if_match ${lua sens_read \\2} > \\3}${color red}\\1: ${lua sens_read \\2}C${blink !!!}${else}\\1: ${color}${lua sens_read \\2}C${endif}${endif}',
	template4 = '${color lightgrey}${if_match $\\3perc >= \\1}${color red}${endif}\\4 ${lua_parse rings_marker \\3}${goto 45}$color${if_match $\\3perc >= \\1}${color red}${endif}$\\3 / $\\3max - $\\3perc%${goto 160}${color light slate gray}${if_match $\\3perc >= \\2}${color maroon}${endif}${if_match $\\3perc >= \\1}${color red}${endif}${\\3bar}',
	template5 = '${if_up \\1}${downspeedgraph \\1 30,190 aa3333 3333aa \\2 -t -l}${alignr}${upspeedgraph \\1 30,190 3333aa aa3333 \\2 -t -l}${endif}',
	template9 = '${color light slate gray}${if_match ${cpu cpu\\1} >= 85}${color red}${endif}${tab 7}${cpubar cpu\\1 5,60}',

	lua_load = '~/.conkyrc.lua',
	lua_draw_hook_pre = 'draw_graphics',

	-- max_user_text = 10485760,
	text_buffer_size = 18432,
}


conky.text = [[
${voffset 240}

$color${lua env USER}@$nodename - $kernel\
${alignr}${time %a, %d %b, %H:%M:%S (%Z)}
${color lightgrey}Uptime:$color $uptime ${color lightgrey}- Load:$color $loadavg\
${alignr}\
${color lightgrey}sunrise: ${color #c6cfff}${lua sun_event_time rise}${color}, \
${color lightgrey}sunset: ${color #fad6a5}${lua sun_event_time set}${color}
\
$stippled_hr
${color lightgrey}CPU ${lua_parse rings_marker cpu}${tab 20}$color$cpu% (${freq_g})${tab 60}${color light slate gray}${cpubar}
${template9 1}${template9 2}${template9 3}${template9 4}${template9 5}${template9 6}
${template9 7}${template9 8}${template9 9}${template9 10}${template9 11}${template9 12}
\
${template4 90 70 mem RAM}
${template4 80 60 swap Swap}
${color lightgrey}Processes:$color $processes  \
${color lightgrey}Running:$color $running_processes\
${alignr}\
${template3 cpu k10temp-0-c3__temp1_input 68}\
${if_empty ${lua file_cap_read Apple Wireless}}${else}${color lightgrey}, kb_batt: ${color}${lua file_cap_read Apple Wireless}${endif}
${color light slate gray}${cpugraph cpu0 20,400 0000ff 00ff00 -t -l}
\
${color}---=={ CPU${alignr}RAM }==---
${template0 #ab1c00 1}
${template0 #af442f 2}
${template0 #cf8171 3}
${template0 #af9792 4}
${template0 #bababa 5}
${template0 gray 6}
${template0 gray 7}
${template0 gray 8}
${template0 gray 9}
${template0 gray 10}
\
$stippled_hr
${template1 root / 20}
${template1 vms /srv/vms 20}
${template1 games /home/player 10}
${template1 media /mnt/win-500 5}
${template1 tmp /tmp 30}
${color lightgrey}FS read: ${color #99aaff}${diskio_read}\
  ${color lightgrey}write: ${color #ffaa99}${diskio_write}\
  ${color lightgrey}queue: ${color #e87bf7}${lua_parse fs_backlog}\
${alignr}${color light slate gray}${top_io pid 1} ${top_io name 1}
${color light slate gray}\
${diskiograph /dev/disk/by-id/wwn-0x55cd2e4155dd3a6e 30,133 3333aa aa3333 0 -t -l}\
${diskiograph /dev/disk/by-id/wwn-0x5001b444a75849ed 30,133 3333aa aa3333 0 -t -l}\
${diskiograph /dev/disk/by-id/wwn-0x50014ee65732acb6 30,133 3333aa aa3333 0 -t -l}\
$color${voffset 5}${goto 9}root${goto 140}vms/games${goto 273}dump${voffset -10}
\
${color lightgrey}IPs ${color #888}[ ${lua_parse iface_list core wlan_usb vde enp3s0 wlp2s0} ${color #888}]$color: \
${lua_parse iface_ips core wlp2s0 wlan_usb vde}${lua_parse iface_wlan_info wlp2s0 wlan_usb}
\
${color lightgrey}Net IN: ${lua_parse iface_num downspeed core wlan_usb vde enp3s0 wlp2s0}\
 ${lua_parse rings_marker net_down wlan0 enp3s0 wlp2s0}\
${alignr}${color lightgrey}Net OUT: ${lua_parse iface_num upspeed core wlan_usb vde enp3s0 wlp2s0}\
 ${lua_parse rings_marker net_up wlan0 enp3s0 wlp2s0}
${template5 wlan0 0}${template5 wlp2s0 0}${template5 enp3s0 0}
$color${voffset -40}${goto 9}${lua_parse iface_first wlan0 enp3s0 wlp2s0}${voffset 20}
\
# $color[${pa_sink_active_port_description}] ${pa_sink_volume}% ${pa_sink_volumebar}
# \
# $color$stippled_hr
# ${color #ddaa00}Ports${alignr}Conns
# $color ${color grey} Inbound: ${color #2266cc}${tcp_portmon 1 32767 count} ${color grey} Outbound: ${color #cc6622}${tcp_portmon 32768 65535 count}${alignr}${color grey}ALL: ${color #22cc22}${tcp_portmon 1 65535 count} $color
# ${color #2266cc}${lua_parse conky_portmon in 2}
# ${color #cc6622}${lua_parse conky_portmon out 20}
\
$color${voffset -5}$stippled_hr
${catp /run/user/1000/cal.conky}
]]
