conky.config = {
	background = false,

	alignment = 'bottom_left',
	xinerama_head = 0,

	update_interval = 4.0,
	total_run_times = 0,

	own_window = true,
	own_window_type = 'desktop',
	own_window_colour = 'black',
	own_window_argb_visual = true,
	own_window_transparent = true,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',

	minimum_width = 400,
	maximum_width = 400,
	gap_x = 10,
	gap_y = 10,

	font = 'Luxi Sans:size=8',
	use_xft = true,
	xftalpha = 1,
	override_utf8_locale = true,

	double_buffer = true,
	draw_shades = true,
	draw_outline = false,
	draw_borders = false,
	draw_graph_borders = true,
	stippled_borders = 8,
	border_width = 1,

	default_color = 'white',
	default_shade_color = 'black',
	default_outline_color = 'black',

	no_buffers = true,
	uppercase = false,
	cpu_avg_samples = 2,
	net_avg_samples = 2,
	use_spacer = 'none',

	color0 = 'cc4444',
	color1 = 'darkgreen',
	color2 = '4444cc',

	template0 = '${color \\1}${top cpu \\2}${goto 40}${top mem \\2}${goto 80}${top pid \\2}${goto 130}${top name \\2}${goto 200}${top_mem cpu \\2}${goto 235}${top_mem mem \\2}${goto 275}${top_mem pid \\2}${alignr}${top_mem name \\2}$color',
	template1 = '${if_mounted \\2}${color lightgrey}\\1 ${lua_parse rings_marker fs_\\1}${tab 60 1}$color${if_match ${fs_free_perc \\2} <= \\3}${color red}${endif}${fs_free \\2} (${fs_free_perc \\2}%)${if_match ${fs_free_perc \\2} <= \\3}${blink !!!!!}${endif}${tab 90}${fs_bar \\2}$color${endif}',
	template2 = '$color ${tcp_portmon \\1 \\2 rhost \\3} ${alignr} ${tcp_portmon \\1 \\2 \\4 \\3} $color',
	template3 = '${color lightgrey}${if_empty ${lua sens_read \\2}}${else}${if_match ${lua sens_read \\2} > \\3}${color red}\\1: ${lua sens_read \\2}C${blink !!!}${else}\\1: ${color}${lua sens_read \\2}C${endif}${endif}',
	template4 = '${color lightgrey}${if_match $\\3perc >= \\1}${color red}${endif}\\4 ${lua_parse rings_marker \\3}${tab 25}$color${if_match $\\3perc >= \\1}${color red}${endif}$\\3/$\\3max - $\\3perc%${tab 60}${color light slate gray}${if_match $\\3perc >= \\2}${color maroon}${endif}${if_match $\\3perc >= \\1}${color red}${endif}${\\3bar}',
	template5 = '${color darkred}${if_up \\1}${color\\2}${endif}${addr \\1}${color lightgrey}',
	template6 = '${color\\2}${downspeedgraph \\1 30,190 aa3333 3333aa 0 -t -l}${alignr}${color\\2}${upspeedgraph \\1 30,190 3333aa aa3333 0 -t -l}',
	template7 = '${color\\2}${downspeed \\1}${color lightgrey}',
	template8 = '${color\\2}${upspeed \\1}${color lightgrey}',
	template9 = '${color light slate gray}${if_match ${cpu cpu\\1} >= 85}${color red}${endif}${tab 7}${cpubar cpu\\1 5,60}',

	lua_load = '~/.conkyrc.rings.lua',
	lua_draw_hook_pre = 'rings_draw',

	-- max_user_text = 10485760,
	text_buffer_size = 18432,
}


conky.text = [[
${voffset 240}

$color${lua env USER}@$nodename - $kernel\
${alignr}${time %a, %d %b, %H:%M:%S (%Z)}
${color lightgrey}Uptime:$color $uptime ${color lightgrey}- Load:$color $loadavg\
${alignr}\
${color lightgrey}sunrise: ${color #c6cfff}${lua sun_event_time rise}${color}, \
${color lightgrey}sunset: ${color #fad6a5}${lua sun_event_time set}${color}
\
$stippled_hr
${color lightgrey}CPU ${lua_parse rings_marker cpu}${tab 20}$color$cpu% (${freq_g})${tab 60}${color light slate gray}${cpubar}
${template9 1}${template9 2}${template9 3}${template9 4}${template9 5}${template9 6}
${template9 7}${template9 8}${template9 9}${template9 10}${template9 11}${template9 12}
\
${template4 90 70 mem RAM}
${template4 80 60 swap Swap}
${color lightgrey}Processes:$color $processes  \
${color lightgrey}Running:$color $running_processes\
${alignr}\
${template3 cpu k10temp-0-c3__temp1_input 68}\
${color lightgrey}, ${template3 gpu re:amdgpu[-]0[-]%d+__temp1_input 80}\
${if_empty ${lua file_cap_read Apple Wireless}}${else}${color lightgrey}, kb_batt: ${color}${lua file_cap_read Apple Wireless}${endif}
${color light slate gray}${cpugraph cpu0 20,400 0000ff 00ff00}
\
${color}---=={ CPU${alignr}RAM }==---
${template0 #ab1c00 1}
${template0 #af442f 2}
${template0 #cf8171 3}
${template0 #af9792 4}
${template0 #bababa 5}
${template0 gray 6}
${template0 gray 7}
${template0 gray 8}
${template0 gray 9}
${template0 gray 10}
\
$stippled_hr
${template1 root / 20}
${template1 vms /srv/vms 20}
${template1 games /home/player 10}
${template1 media /mnt/win-500 5}
${template1 tmp /tmp 30}
${color lightgrey}FS_read: ${color #99aaff}${diskio_read}\
  ${color lightgrey}FS_write: ${color #ffaa99}${diskio_write}\
${alignr}${color light slate gray}${top_io pid 1} ${top_io name 1}
${color light slate gray}${diskiograph /dev/sda 30,400 3333aa aa3333 0 -t -l}
\
$color$stippled_hr
${color lightgrey}Net_leech: ${template7 wlan0 0} / ${template7 enp3s0 1} ${lua_parse rings_marker net_down}${color lightgrey} / ${template7 ppp0 2}\
${alignr}${color lightgrey}Net_seed: ${template8 wlan0 0} / ${template8 enp3s0 1} ${lua_parse rings_marker net_up}${color lightgrey} / ${template8 ppp0 2}
\
${if_up wlan0}${template6 wlan0 0}
${endif}${if_up enp3s0}${template6 enp3s0 1}
${endif}${if_up ppp0}${template6 ppp0 2}
${endif}\
\
${color lightgrey}IPs: ${template5 core 0} / ${template5 wlan_usb 1} / ${template5 vde 2}\
${if_up wlan_usb}${alignr}${color lightgrey}Signal:$color ${wireless_link_qual_perc wlan_usb}%\
 (${wireless_essid wlan_usb}, ${wireless_bitrate wlan_usb})${endif}
# \
# $color$stippled_hr
# ${color #ddaa00}Ports${alignr}Conns
# $color ${color grey} Inbound: ${color #2266cc}${tcp_portmon 1 32767 count} ${color grey} Outbound: ${color #cc6622}${tcp_portmon 32768 65535 count}${alignr}${color grey}ALL: ${color #22cc22}${tcp_portmon 1 65535 count} $color
# ${color #2266cc}${lua_parse conky_portmon in 2}
# ${color #cc6622}${lua_parse conky_portmon out 20}
\
$color$stippled_hr
${catp /run/user/1000/cal.conky}
]]
