[Unit]
Requires=dbus.service
After=xorg.target dbus.service
PartOf=startx.target bluetooth.target

[Service]
SyslogIdentifier=%p
Restart=on-failure
ExecStart=/usr/bin/env bt_agent -va ~/.bt_auth

[Install]
WantedBy=startx.target
