[Unit]
After=xorg.target background.target
PartOf=startx.target

[Service]
SyslogIdentifier=%p
Restart=on-abort

# Instance with head.alignment, e.g. bottom_left.0, top_right.1
ExecStart=/bin/bash -c "p='%I'; exec conky -q -m$${p#*.} -a$${p%.*}"
