[Unit]
Requires=xorg.target dbus.socket
Wants=pulseaudio.service
PartOf=startx.target
After=xorg.target
Before=background.target xsettings.service

[Service]
Type=notify
Environment=E_START=enlightenment
ExecStart=/usr/bin/enlightenment -locked
Restart=always
RestartPreventExitStatus=0
RestartSec=2
StartLimitInterval=50
StartLimitBurst=6
KillMode=process
WatchdogSec=30
TimeoutSec=15
NotifyAccess=all
