[Unit]
After=xorg.target

[Service]
Type=exec
SyslogIdentifier=%p
ExecStart=dash -c '\
	sd() { systemctl -q --user $1 waterfox.scope; }; \
	while :; do xdpms wait || exit 1; sleep 5; xdpms check || { \
		sd is-active && sd freeze && thaw=t || thaw=; \
		xiwait || exit 1; [ -z "$thaw" ] || sd thaw; }; done'

Restart=on-failure
RestartSec=30
StartLimitInterval=10min
StartLimitBurst=5

[Install]
WantedBy=startx.target
