[Unit]
After=xorg.target
Wants=background.target
Before=background.target
PartOf=background.target

[Service]
SyslogIdentifier=%p
Type=notify
ExecReload=kill -HUP $MAINPID

# Delay to give E time to adjust display resolutions
ExecStartPre=sleep 3
ExecStart=env fgbg -di 4:23:47 \
	--desktop-same --process \
	/mnt/volatiles/images ${HOME}/media/bgz

WatchdogSec=300
Restart=on-failure
RestartSec=20
StartLimitInterval=10min
StartLimitBurst=5
