[Unit]
Before=pulseaudio.service

[Service]
SyslogIdentifier=%p
ExecStart=/usr/bin/env jackd --nozombies -d dummy

Restart=always
StartLimitInterval=10s
StartLimitBurst=5

[Install]
WantedBy=startx.target
