[Unit]
Requires=dbus.service
After=xorg.target dbus.service pulseaudio.socket pulseaudio.service
PartOf=startx.target

[Service]
SyslogIdentifier=%p
Restart=always
RestartSec=10
ExecStart=env notification-thing --activity-timeout 0 --conf "${HOME}/.notification.yaml"
