[Unit]
After=xorg.target background.target notification-thing.service
Before=conky.service
PartOf=startx.target

[Service]
SyslogIdentifier=%p
Restart=on-abort
ExecStart=/usr/bin/env riet.conky -d 3020
