[Unit]
After=xorg.target background.target notification-thing.service
PartOf=startx.target

[Service]
SyslogIdentifier=%p
ExecStart=env riet.conky -d 3020

Restart=on-failure
RestartSec=60
StartLimitInterval=10min
StartLimitBurst=3
