[Unit]
After=xorg.target xsettings.service
PartOf=startx.target

[Service]
SyslogIdentifier=%p
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/env xbindkeys -n
