[Unit]
After=xorg.target
PartOf=startx.target

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%p
ExecStart=env xinitrc.input
ExecStart=env xinitrc.misc
