[Unit]
After=xorg.target background.target
PartOf=startx.target

[Service]
SyslogIdentifier=%p
Environment=ZSHRC_AUTOSTART=pa_mixer
ExecStart=/usr/bin/env yeahconsole
