[Unit]
After=X.target
Wants=background.target
Before=background.target

[Service]
Type=oneshot
SyslogIdentifier=%p
ExecStart=/usr/bin/env aura /mnt/volatiles/images ${HOME}/media/bgz
