[Unit]
After=background.target
PartOf=background.target

[Service]
SyslogIdentifier=%p
ExecStart=/usr/bin/env aura -d --no-fork --no-init /mnt/volatiles/images ${HOME}/media/bgz
