[Unit]
After=X.target
Before=background.target xsettings.service
PartOf=startx.target

[Service]
SyslogIdentifier=%p
KillMode=none
ExecStart=/usr/bin/env enlightenment_start -locked

## Produces way too much crap to keep in any logs
StandardOutput=null
StandardError=null
