[Unit]
Requires=xorg.target dbus.socket
Wants=pulseaudio.service
PartOf=startx.target
After=xorg.target
Before=background.target xsettings.service

[Service]
SyslogIdentifier=%p
KillMode=none
Environment=E_START=enlightenment
ExecStart=/bin/bash -c "exec svlogd -r _ -ttt %h/.e/logs < <(exec enlightenment -locked)"
