[Unit]
After=X.target
Before=background.target xsettings.service
PartOf=startx.target

[Service]
SyslogIdentifier=%p
KillMode=none
ExecStart=/bin/sh -c "enlightenment_start -locked | svlogd -r _ -ttt %h/.e/logs"
