[Unit]
After=X.target

[Service]
SyslogIdentifier=%p
Restart=always
ExecStart=/usr/bin/env notification-thing --activity-timeout 0 --conf ${HOME}/.notification.yaml
