[Unit]
Before=sound.target
After=xorg.target sockets.target

[Service]
SyslogIdentifier=%p
ExecStart=/usr/bin/env pulseaudio --exit-idle-time=999999

Restart=always
RestartPreventExitStatus=SIGTERM SIGINT SIGABRT SIGKILL
StartLimitInterval=10s
StartLimitBurst=5

[Install]
WantedBy=startx.target
