[Unit]
After=X.target sockets.target

[Service]
SyslogIdentifier=%p
ExecStart=/usr/bin/env pulseaudio

Restart=always
RestartPreventExitStatus=SIGTERM SIGINT SIGABRT SIGKILL
StartLimitInterval=10s
StartLimitBurst=5
