[Unit]
After=X.target
PartOf=startx.target

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=%p
ExecStart=/usr/bin/env xinitrc.input
ExecStart=/usr/bin/env xinitrc.misc
