[Unit]
After=X.target

[Service]
Type=oneshot
SyslogIdentifier=%p
ExecStart=/usr/bin/env xinitrc.input
ExecStart=/usr/bin/env xinitrc.misc

# For some reason, xinput overrides jam X
#  for a second, which breaks E startup in some cases
ExecStartPre=/bin/sleep 20
